* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: #161625;
  background-size: cover;
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-bar {
  display: flex;
  align-items: center;
}

.website-logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.description {
  color: #2cc6c6;
  font-family: 'Roboto';
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 28px;
}
